<!-- This is about page for organizing data -->
<div class="contentprofile">
    <div class="row">
      <div class="side">
        <img class="" src="/images/kishu.jpeg" alt="Krishna" style="width:100%">
      </div>
      <div class="main">
        <h6 style="color: black;">Hi, I'm Krishna</h6>
        <h2 style="color: black;height: 80px;">Full Stack Software Developer</h5>
        <p style="width: 60%;">Heyyaaa!!! I am from India. I am currently studying at Conestoga College, Waterloo, ON, CANADA.
            I work as freelance Web Developer. I design websites which are interactive and unique. I enjoy building web apps.
        </p>
        <br> 
      </div>
    </div>
</div>
<script>
document.getElementById("about").style.color="white";
document.getElementById("home").classList.remove("active");
document.getElementById("contact").classList.remove("active");
document.getElementById("projects").classList.remove("active");
</script>
