<!--This is the home page block divided into div tag to organize things-->
<div class="contentprofile">
    <div class="profile">
        <img class="img_kishu" src="/images/kishu.jpeg" alt="Krishna" style="width:500px;height:500px"/>
        <h3 style="color: black;">Krishna Thakor</h3>
        <p class="title">Full Stack Developer</p>
            <div class="links">
                <a href="https://twitter.com/KrishnaThakorK" target="_blank"><i class="fa fa-twitter"></i></a>  
                <a href="https://www.linkedin.com/in/krishna-thakor-1a67b01aa/" target="_blank"><i class="fa fa-linkedin"></i></a>  
                <a href="https://github.com/krishnathakorkt" target="_blank"><i class="fa fa-github"></i></a> 
            </div>
    </div> 
</div>

